<div class="flex h-screen py-24 px-8">
    <div class="w-full h-auto bg-white p-4 rounded-xl shadow-xl">
        <div class="p-4 text-xl">
            <i class='bx bx-data text-green-500'></i>
            Data Entry
        </div>
        <div class="flex flex-wrap justify-center px-4 gap-4">
            <div class="flex flex-col">
                <label for="">QCode:</label>
                <input type="text" id="QCode" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Surname:</label>
                <input type="text" id="surname" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Given Name:</label>
                <input type="text" id="givenName" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Middle Name:</label>
                <input type="text" id="middleName" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Age:</label>
                <input type="number" id="age" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Sex:</label>
                <input type="text" id="sex" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Marital Status:</label>
                <select name="" id="maritalStat" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                    <option value="No">Single</option>
                    <option value="Yes">Married</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="">Person With Disability:</label>
                <select name="" id="pwd" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="">Contact No:</label>
                <input type="number" id="phoneNum" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Barangay:</label>
                <input type="text" id="brgy" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Municipality:</label>
                <input type="text" id="municipality" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Province:</label>
                <input type="text" id="province" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Region:</label>
                <select name="" id="region" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </select>
            </div>
            <div class="flex flex-col">
                <label for="">Educational Attainment:</label>
                <input type="text" id="educAttainment" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Organization's Name:</label>
                <input type="text" id="orgName" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Position:</label>
                <input type="text" id="position" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Farm Commodity(separate w/ comma):</label>
                <input type="text" id="farmCommodity" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Farming Activities(separate w/ comma):</label>
                <input type="text" id="farmingActivities" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Farm Involvement:</label>
                <input type="text" id="farmInvolvement" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Proprietorship:</label>
                <input type="text" id="proprietorship" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Farm Area:</label>
                <input type="number" id="FarmArea" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Types of Machinery(separate w/ comma):</label>
                <input type="text" id="typesOfMachine" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Years on Farming Experience:</label>
                <input type="number" id="yearsExp" class="border outline-none px-2 text-gray-600 focus:border-green-500">
            </div>
            <div class="flex flex-col">
                <label for="">Farming as Primary/Secondary Occupation:</label>
                <select id="primarySecondaryOccupation" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                </select>
            </div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-12">
            <button type="button" class="p-2 bg-red-300 px-8 rounded-md shadow-xl hover:bg-red-400 duration-200 ease-linear">
                <i class='bx bx-trash'></i>
                Clear
            </button>
            <button type="button" class="p-2 bg-green-400 px-8 rounded-md shadow-xl hover:bg-green-500 duration-200 ease-linear">
                <i class='bx bx-user-plus' ></i>
                Add Data
            </button>
        </div>
    </div>
</div>