<!-- cards -->
<div class="flex gap-4 pt-24 px-8">

    <div class="bg-white p-4 rounded-lg shadow-xl">
        <div class="text-xl text-gray-700">
            <i class='bx bx-file-find text-green-500' ></i>
            Search/Filters
        </div>
        <div class="flex gap-4">
            <div>

                <div class="flex flex-col my-4">
                    <label for="#searchQCode">Search by QCode/Fullname:</label>
                    <input type="text" id="searchQCode" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

                <div class="flex flex-col my-4">
                    <label for="#filterAge">Filter By Age:</label>
                    <input type="number" id="filterAge" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

                <div class="flex flex-col my-4">
                    <label for="">Filter By Municipality:</label>
                    <input type="text" id="" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

            </div>

            <div>

                <div class="flex flex-col my-4">
                    <label for="">Search by Date Measured:</label>
                    <input type="date" id="" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

                <div class="flex flex-col my-4">
                    <label for="#filterAge">Filter By Baranggay:</label>
                    <input type="text" id="filterAge" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

                <div class="flex flex-col my-4">
                    <label for="">Filter By Province:</label>
                    <input type="text" id="" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>
            </div>

            <div>
                <div class="flex flex-col my-4">
                    <label for="">Search by Farm Involvement:</label>
                    <input type="text" id="" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>

                <div class="flex flex-col my-4">
                    <label for="">Filter By Region:</label>
                    <input type="text" id="" class="border outline-none px-2 text-gray-600 focus:border-green-500">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white p-2 shadow-xl rounded-xl w-full">
        <div class="p-2 text-lg">
            <i class='bx bx-calculator text-green-500'></i>
            Statistics
        </div>

        <div class="mx-2">
            <div class="flex my-1 border-b">
                <div>MEAN</div>
                <div class="ms-auto">52.2</div>
            </div>

            <div class="flex my-1 border-b">
                <div>STANDARD DEVIATION</div>
                <div class="ms-auto">7.60</div>
            </div>

            <div class="flex my-1 border-b">
                <div>RANGE MIN</div>
                <div class="ms-auto">31.00</div>
            </div>

            <div class="flex my-1 border-b">
                <div>RANGE MAX</div>
                <div class="ms-auto">64.00</div>
            </div>
            
            <div class="flex my-1 border-b">
                <div>CV(%)</div>
                <div class="ms-auto">14.37</div>
            </div>

            <div class="flex my-1 border-b">
                <div>5th Percentile</div>
                <div class="ms-auto">14.37</div>
            </div>

            <div class="flex my-1 border-b">
                <div>50th Percentile</div>
                <div class="ms-auto">14.37</div>
            </div>

            <div class="flex my-1 border-b">
                <div>95th Percentile</div>
                <div class="ms-auto">14.37</div>
            </div>
        </div>
    </div>

</div>
<!-- end cards -->
<!-- table -->
<div class="flex my-4 mx-8">
    <div class="w-screen p-2 bg-white rounded-xl shadow-xl">
        <div class="p-2 text-lg">
            <i class='bx bx-table text-green-500' ></i>
            Demographics Table
        </div>
        <div class="flex justify-center">
            <table>
                <thead>
                    <tr class="bg-green-400">
                        <th class="px-9 py-2">QCode</th>
                        <th class="px-9 py-2">Surname</th>
                        <th class="px-9 py-2">Given Name</th>
                        <th class="px-9 py-2">Middle Name</th>
                        <th class="px-9 py-2">Date Measured</th>
                        <th class="px-9 py-2">Age</th>
                        <th class="px-9 py-2">Sex</th>
                        <th class="px-9 py-2">Contact No.</th>
                        <th class="px-9 py-2">Position</th>
                        <th class="px-9 py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-gray-200">
                        <td class="text-center py-2 border-b">XXXXX</td>
                        <td class="text-center py-2 border-b">De LaCruz</td>
                        <td class="text-center py-2 border-b">Juan</td>
                        <td class="text-center py-2 border-b">Ponce</td>
                        <td class="text-center py-2 border-b"></td>
                        <td class="text-center py-2 border-b">99</td>
                        <td class="text-center py-2 border-b">M</td>
                        <td class="text-center py-2 border-b">0999999999</td>
                        <td class="text-center py-2 border-b">Farmer</td>
                        <td class="text-center py-2 border-b"></td>
                    </tr>
                    <tr class="hover:bg-gray-200">
                        <td class="text-center py-2 border-b">XXXXX</td>
                        <td class="text-center py-2 border-b">De LaCruz</td>
                        <td class="text-center py-2 border-b">Juan</td>
                        <td class="text-center py-2 border-b">Ponce</td>
                        <td class="text-center py-2 border-b"></td>
                        <td class="text-center py-2 border-b">99</td>
                        <td class="text-center py-2 border-b">M</td>
                        <td class="text-center py-2 border-b">0999999999</td>
                        <td class="text-center py-2 border-b">Farmer</td>
                        <td class="text-center py-2 border-b"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end table -->