<div class="py-24 px-8">
    <div class="mt-4 h-auto max-w-screen">
        <div class=" p-2 bg-white rounded-xl shadow-xl mx-4">
            <div class="p-2 text-lg">
                <i class='bx bx-table text-green-500'></i>
                Measurement Table
            </div>
            <div class="max-h-screen max-w-auto overflow-y-auto overflow-x-auto">
                <table class="max-w-80">
                    <thead id="measurementStat">

                    </thead>
                    <thead>
                        <tr class="bg-green-400">
                            <th class="px-8 py-2">Respondent's No</th>
                            <th class="px-8 py-2">Standing Height</th>
                            <th class="px-8 py-2">Standing Eye Height</th>
                            <th class="px-8 py-2">Standing Shoulder Height</th>
                            <th class="px-8 py-2">Standing Elbow Height</th>
                            <th class="px-8 py-2">Fingertip Height</th>
                            <th class="px-8 py-2">Standing Knee Height</th>
                            <th class="px-8 py-2">Knuckle Height</th>
                            <th class="px-8 py-2">Crotch Height</th>
                            <th class="px-8 py-2">Standing Hip Breadth</th>
                            <th class="px-8 py-2">Waist Girth</th>
                            <th class="px-8 py-2">Chest Girth</th>
                            <th class="px-8 py-2">Standing Shoulder Breadth</th>
                            <th class="px-8 py-2">Head Circumference</th>
                            <th class="px-8 py-2">Standing Upward Reach</th>
                            <th class="px-8 py-2">Arm Length</th>
                            <th class="px-8 py-2">Sideways Reach</th>
                            <th class="px-8 py-2">Total Span</th>
                            <th class="px-8 py-2">Standing Bust Height</th>
                            <th class="px-8 py-2">Sitting Height</th>
                            <th class="px-8 py-2">Eye Height Above Seat</th>
                            <th class="px-8 py-2">Shoulder to Elbow Length</th>
                            <th class="px-8 py-2">Elbow Height Above Seat</th>
                            <th class="px-8 py-2">Seat Height</th>
                            <th class="px-8 py-2">Sitting Knee Height</th>
                            <th class="px-8 py-2">Thigh Clearance</th>
                            <th class="px-8 py-2">Buttock to Poplietal Length</th>
                            <th class="px-8 py-2">Buttock to Knee Length</th>
                            <th class="px-8 py-2">Belly Depth</th>
                            <th class="px-8 py-2">Chest Depth</th>
                            <th class="px-8 py-2">Forearm to Hand Length</th>
                            <th class="px-8 py-2">Forward Reach</th>
                            <th class="px-8 py-2">Sitting Upward Reach</th>
                            <th class="px-8 py-2">Sitting Bust Height</th>
                            <th class="px-8 py-2">Breadth Accross Elbow</th>
                            <th class="px-8 py-2">Sitting Hip Breadth</th>
                            <th class="px-8 py-2">Hand Length</th>
                            <th class="px-8 py-2">Hand Breadth</th>
                            <th class="px-8 py-2">Foot Length</th>
                            <th class="px-8 py-2">Foot Breadth</th>
                            <th class="px-8 py-2">Grip Diameter</th>
                            <th class="px-8 py-2">Weight</th>
                            <th class="px-8 py-2">BMI</th>
                        </tr>
                    </thead>
                    <tbody id="measurementsTbl">
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>